<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tech.piis.modules.managment.mapper.TrainingPracticeMapper">
    <!--以干代训-->
    <resultMap id="trainingPracticeResultMap" type="tech.piis.modules.managment.domain.TrainingPracticePO">
        <id property="practiceId" column="PRACTICE_ID"/>
        <result property="orgId" column="ORG_ID"/>
        <result property="practiceYear" column="PRACTICE_YEAR"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberUnit" column="MEMBER_UNIT"/>
        <result property="memberPost" column="MEMBER_POST"/>
        <result property="trainingType" column="TRAINING_TYPE"/>
        <result property="innerPost" column="INNER_POST"/>
        <result property="beginDate" column="BEGIN_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
        <result property="entId" column="ENT_ID"/>
    </resultMap>
    <!--sql语句-->
    <!--以干代训总览根据机构ID分组-->
    <select id="selectPracticeListByOrgId" resultMap="trainingPracticeResultMap">
        select
        p.PRACTICE_ID,
        s.dept_name as MEMBER_UNIT,
        count(FIRSTBRANCH_ID) as amount
        from  training_practice p
        join sys_dept s on p.FIRSTBRANCH_ID = s.DEPT_ID
        group by FIRSTBRANCH_ID
    </select>
    <!--根据条件动态查询以干代训-->
    <!--<select id="selectListByConditions" resultMap="trainingPracticeResultMap">
        select
        PRACTICE_ID,
        ORG_ID,
        PRACTICE_YEAR,
        MEMBER_ID,
        MEMBER_NAME,
        MEMBER_UNIT,
        MEMBER_POST,
        TRAINING_TYPE,
        TRAINING_PLACE,
        INNER_POST,
        BEGIN_DATE,
        END_DATE
        from
        training_practice
        <where>
            <if test="memberUnit != null and memberUnit != ''">
                MEMBER_UNIT = #{memberUnit}
            </if>
            <if test="memberName != null and memberName != ''">
                and MEMBER_NAME = #{memberName}
            </if>
            <if test="trainingType != null and trainingType != ''">
                and TRAINING_TYPE = #{trainingType}
            </if>
        </where>
        order by RECOMMEND_YEAR desc
        limit #{pageNum},#{pageSize}
    </select>-->


</mapper>