<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionPlanMapper">

    <!--巡视计划ResultMap-->
    <resultMap id="inspectionPlanResultMap" type="tech.piis.modules.core.domain.po.InspectionPlanPO">
        <id property="planId" column="PLAN_ID"/>
        <result property="planName" column="PLAN_NAME"/>
        <result property="beginTime" column="BEGIN_TIME"/>
        <result property="endTime" column="END_TIME"/>
        <result property="status" column="STATUS"/>
        <result property="planDesc" column="PLAN_DESC"/>
        <result property="planType" column="PLAN_TYPE"/>
        <result property="planCompanyName" column="PLAN_COMPANY_NAME"/>
        <result property="planCompanyId" column="PLAN_COMPANY_ID"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
        <result property="entId" column="ENT_ID"/>
        <association property="inspectionMobilize" javaType="InspectionMobilizePO" column="planId"
                     resultMap="inspectionMobilizeResultMap"/>

        <collection property="inspectionGroupList" javaType="java.util.List" resultMap="InspectionGroupResultMap"/>
    </resultMap>

    <!--巡视组ResultMap-->
    <resultMap id="InspectionGroupResultMap" type="tech.piis.modules.core.domain.po.InspectionGroupPO">
        <id property="groupId" column="GROUP_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="groupName" column="GROUP_NAME"/>
        <result property="leaderId" column="LEADER_ID"/>
        <result property="leaderName" column="LEADER_NAME"/>
        <result property="deputyLeaderId" column="DEPUTY_LEADER_ID"/>
        <result property="deputyLeaderName" column="DEPUTY_LEADER_NAME"/>
        <result property="remark" column="REMARK"/>
        <collection property="inspectionUnitsList" javaType="java.util.List" resultMap="inspectionUnitsResultMap"/>
        <collection property="inspectionGroupMemberList" javaType="java.util.List"
                    resultMap="inspectionGroupMemberResultMap"/>
    </resultMap>

    <!--被巡视单位ResultMap-->
    <resultMap id="inspectionUnitsResultMap" type="tech.piis.modules.core.domain.po.InspectionUnitsPO">
        <id property="unitsId" column="UNITS_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="inspectionTime" column="INSPECTION_TIME"/>
        <result property="orgId" column="ORG_ID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <collection property="groupMemberList" javaType="java.util.List"
                    resultMap="inspectionGroupMemberResultMap"/>
    </resultMap>

    <!--巡视组组员ResultMap-->
    <resultMap id="inspectionGroupMemberResultMap" type="tech.piis.modules.core.domain.po.InspectionGroupMemberPO">
        <id property="groupMemberId" column="GROUP_MEMBER_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberCompany" column="MEMBER_COMPANY"/>
        <result property="memberCompanyName" column="MEMBER_COMPANY_NAME"/>
        <result property="memberPost" column="MEMBER_POST"/>
        <result property="contact" column="CONTACT"/>
    </resultMap>

    <!--巡视动员resultMap-->
    <resultMap id="inspectionMobilizeResultMap" type="InspectionMobilizePO">
        <id property="mobilizeId" column="MOBILIZE_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="meetName" column="MEET_NAME"/>
        <result property="meetPlace" column="MEET_PLACE"/>
        <result property="meetTime" column="MEET_TIME"/>
        <result property="meetDesc" column="MEET_DESC"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
        <result property="entId" column="ENT_ID"/>
        <collection property="inspectionMobilizeAttendeeList" javaType="java.util.List"
                    resultMap="inspectionMobilizeAttendeeResultMap"/>
    </resultMap>

    <!--巡视动员参会人员ResultMap-->
    <resultMap id="inspectionMobilizeAttendeeResultMap"
               type="InspectionMobilizeAttendeePO">
        <id property="mobilizeAttendeeId" column="MOBILIZE_ATTENDEE_ID"/>
        <result property="mobilizeId" column="MOBILIZE_ID"/>
        <result property="attendeeId" column="ATTENDEE_ID"/>
        <result property="attendeeName" column="ATTENDEE_NAME"/>
        <result property="attendeePost" column="ATTENDEE_POST"/>
        <result property="attendeeCompany" column="ATTENDEE_COMPANY"/>
        <result property="attendeeCompanyId" column="ATTENDEE_COMPANY_ID"/>
        <result property="attendeeTime" column="ATTENDEE_TIME"/>
        <result property="attendeePersonType" column="ATTENDEE_PERSON_TYPE"/>
        <result property="remark" column="REMARK"/>
    </resultMap>


    <resultMap id="selectPlanCompanyTotalResultMap"
               type="PlanCompanyCountVO">
        <result property="companyId" column="PLAN_COMPANY_ID"/>
        <result property="companyName" column="PLAN_COMPANY_NAME"/>
        <result property="count" column="count"/>
    </resultMap>


    <select id="selectPlanList" resultMap="inspectionPlanResultMap">
        select
        p.PLAN_ID,
        p.PLAN_NAME ,
        p.BEGIN_TIME ,
        p.END_TIME,
        p.STATUS,
        p.PLAN_TYPE,
        P.PLAN_COMPANY_ID,
        P.PLAN_COMPANY_NAME,
        p.created_time,
        p.PLAN_DESC,
        g.GROUP_ID,
        g.GROUP_NAME,
        g.LEADER_ID,
        g.LEADER_NAME,
        g.DEPUTY_LEADER_ID,
        g.DEPUTY_LEADER_NAME,
        g.REMARK,
        m.GROUP_MEMBER_ID,
        m.MEMBER_ID,
        m.MEMBER_NAME,
        m.MEMBER_COMPANY,
        m.MEMBER_COMPANY_NAME,
        m.MEMBER_POST,
        m.CONTACT,
        u.UNITS_ID,
        u.INSPECTION_TIME,
        u.ORG_ID,
        u.ORG_NAME,
        u.CREATED_TIME,
        mb.MOBILIZE_ID,
        mb.MEET_NAME,
        mb.MEET_PLACE,
        mb.MEET_TIME,
        mb.MEET_DESC,
        mba.MOBILIZE_ATTENDEE_ID,
        mba.ATTENDEE_ID,
        mba.ATTENDEE_NAME,
        mba.ATTENDEE_POST,
        mba.ATTENDEE_COMPANY,
        mba.ATTENDEE_COMPANY_ID,
        mba.ATTENDEE_PERSON_TYPE,
        mba.ATTENDEE_TIME
        from (
        select
        PLAN_ID,
        PLAN_NAME ,
        BEGIN_TIME ,
        END_TIME,
        STATUS,
        PLAN_TYPE,
        PLAN_COMPANY_ID,
        PLAN_COMPANY_NAME,
        PLAN_DESC,
        CREATED_TIME
        from
        inspection_plan
        <where>
            <if test="planName!=null and planName!=''">
                AND plan_name like concat('%', #{planName}, '%')
            </if>

            <if test="planCompanyId!=null and planCompanyId!=''">
                AND PLAN_COMPANY_ID = #{planCompanyId}
            </if>
        </where>
        order by CREATED_TIME desc
        limit #{pageNum},#{pageSize}
        ) p
        left join inspection_group g on p.PLAN_ID = g.PLAN_ID
        left join inspection_group_member m on g.GROUP_ID = m.GROUP_ID
        left join inspection_group_member_units gmn on gmn.group_member_id = m.GROUP_MEMBER_ID
        left join inspection_units u on u.UNITS_ID = gmn.units_id
        left join inspection_mobilize mb on mb.PLAN_ID = p.PLAN_ID
        left join inspection_mobilize_attendee mba on mba.MOBILIZE_ID = mb.MOBILIZE_ID
        order by u.CREATED_TIME desc
    </select>

    <select id="selectPlanCompanyTotal" resultMap="selectPlanCompanyTotalResultMap">
        select PLAN_COMPANY_ID,PLAN_COMPANY_NAME,count(PLAN_COMPANY_ID) as count
        from inspection_plan
        where PLAN_COMPANY_ID is not null
        <if test="beginTime != null"><!-- 开始时间检索 -->
            AND date_format(begin_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null"><!-- 结束时间检索 -->
            AND date_format(begin_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        group by PLAN_COMPANY_ID
    </select>
</mapper> 