<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionCommitteeMeetingsMapper">

    <resultMap type="InspectionCommitteeMeetingsPO" id="InspectionCommitteeMeetingsResult">
        <result property="committeeMeetingsId" column="COMMITTEE_MEETINGS_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="unitsId" column="UNITS_ID"/>
        <result property="meetingsName" column="MEETINGS_NAME"/>
        <result property="meetingsTime" column="MEETINGS_TIME"/>
        <result property="venue" column="VENUE"/>
        <result property="participantsId" column="PARTICIPANTS_ID"/>
        <result property="participantsName" column="PARTICIPANTS_NAME"/>
        <result property="meetingsContent" column="MEETINGS_CONTENT"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
        <result property="entId" column="ENT_ID"/>
    </resultMap>

    <resultMap id="unitsBizCountResultMap" type="UnitsBizCountVO">
        <result property="unitsId" column="units_id"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="count" column="count"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>

    <select id="selectInspectionCommitteeMeetingsCount" parameterType="java.lang.String"
            resultMap="unitsBizCountResultMap">
        select u.UNITS_ID,u.ORG_ID,u.ORG_NAME,u.created_time, count(d.UNITS_ID) as count
        from inspection_units u
        left join inspection_committee_meetings d on u.UNITS_ID = d.UNITS_ID
        where u.plan_id = #{planId}
        group by u.UNITS_ID
    </select>

</mapper>