<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionFeedbackQuestionsMapper">
    
    <resultMap type="InspectionFeedbackQuestionsPO" id="InspectionFeedbackQuestionsResult">
        <result property="feedbackQuestionsId"    column="FEEDBACK_QUESTIONS_ID"    />
        <result property="feedbackId"    column="FEEDBACK_ID"    />
        <result property="problemClassification"    column="PROBLEM_CLASSIFICATION"    />
        <result property="peoblemPerformance"    column="PEOBLEM_PERFORMANCE"    />
        <result property="deputyLeaderId"    column="DEPUTY_LEADER_ID"    />
        <result property="deputyLeaderName"    column="DEPUTY_LEADER_NAME"    />
        <result property="rectificationCompanyId"    column="RECTIFICATION_COMPANY_ID"    />
        <result property="rectificationCompanyName"    column="RECTIFICATION_COMPANY_NAME"    />
        <result property="mainLeaderId"    column="MAIN_LEADER_ID"    />
        <result property="mainLeaderName"    column="MAIN_LEADER_NAME"    />
        <result property="rectificationStatus"    column="RECTIFICATION_STATUS"    />
        <result property="rectificationMeasures"    column="RECTIFICATION_MEASURES"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
        <result property="entId"    column="ENT_ID"    />
    </resultMap>

    <resultMap id="unitsBizCountResultMap" type="UnitsBizCountVO">
        <result property="unitsId" column="units_id"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="count" column="count"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>

    <sql id="selectInspectionFeedbackQuestionsVo">
        select FEEDBACK_QUESTIONS_ID, FEEDBACK_ID, PROBLEM_CLASSIFICATION, PEOBLEM_PERFORMANCE, DEPUTY_LEADER_ID, DEPUTY_LEADER_NAME, RECTIFICATION_COMPANY_ID, RECTIFICATION_COMPANY_NAME, MAIN_LEADER_ID, MAIN_LEADER_NAME, RECTIFICATION_STATUS, RECTIFICATION_MEASURES, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, ENT_ID from inspection_feedback_questions
    </sql>

    <select id="selectInspectionFeedbackQuestionsList" parameterType="InspectionFeedbackQuestionsPO" resultMap="InspectionFeedbackQuestionsResult">
        <include refid="selectInspectionFeedbackQuestionsVo"/>
        <where>  
            <if test="feedbackId != null  and feedbackId != ''"> and FEEDBACK_ID = #{feedbackId}</if>
            <if test="problemClassification != null  and problemClassification != ''"> and PROBLEM_CLASSIFICATION = #{problemClassification}</if>
            <if test="peoblemPerformance != null  and peoblemPerformance != ''"> and PEOBLEM_PERFORMANCE = #{peoblemPerformance}</if>
            <if test="deputyLeaderId != null  and deputyLeaderId != ''"> and DEPUTY_LEADER_ID = #{deputyLeaderId}</if>
            <if test="deputyLeaderName != null  and deputyLeaderName != ''"> and DEPUTY_LEADER_NAME like concat('%', #{deputyLeaderName}, '%')</if>
            <if test="rectificationCompanyId != null  and rectificationCompanyId != ''"> and RECTIFICATION_COMPANY_ID = #{rectificationCompanyId}</if>
            <if test="rectificationCompanyName != null  and rectificationCompanyName != ''"> and RECTIFICATION_COMPANY_NAME like concat('%', #{rectificationCompanyName}, '%')</if>
            <if test="mainLeaderId != null  and mainLeaderId != ''"> and MAIN_LEADER_ID = #{mainLeaderId}</if>
            <if test="mainLeaderName != null  and mainLeaderName != ''"> and MAIN_LEADER_NAME like concat('%', #{mainLeaderName}, '%')</if>
            <if test="rectificationStatus != null "> and RECTIFICATION_STATUS = #{rectificationStatus}</if>
            <if test="rectificationMeasures != null  and rectificationMeasures != ''"> and RECTIFICATION_MEASURES = #{rectificationMeasures}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and UPDATED_BY = #{updatedBy}</if>
            <if test="updatedTime != null "> and UPDATED_TIME = #{updatedTime}</if>
            <if test="entId != null  and entId != ''"> and ENT_ID = #{entId}</if>
        </where>
    </select>
    
    <select id="selectInspectionFeedbackQuestionsById" parameterType="Long" resultMap="InspectionFeedbackQuestionsResult">
        <include refid="selectInspectionFeedbackQuestionsVo"/>
        where FEEDBACK_QUESTIONS_ID = #{feedbackQuestionsId}
    </select>
        
    <insert id="insertInspectionFeedbackQuestions" parameterType="InspectionFeedbackQuestionsPO">
        insert into inspection_feedback_questions
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="feedbackQuestionsId != null ">FEEDBACK_QUESTIONS_ID,</if>
            <if test="feedbackId != null  and feedbackId != ''">FEEDBACK_ID,</if>
            <if test="problemClassification != null  and problemClassification != ''">PROBLEM_CLASSIFICATION,</if>
            <if test="peoblemPerformance != null  and peoblemPerformance != ''">PEOBLEM_PERFORMANCE,</if>
            <if test="deputyLeaderId != null  and deputyLeaderId != ''">DEPUTY_LEADER_ID,</if>
            <if test="deputyLeaderName != null  and deputyLeaderName != ''">DEPUTY_LEADER_NAME,</if>
            <if test="rectificationCompanyId != null  and rectificationCompanyId != ''">RECTIFICATION_COMPANY_ID,</if>
            <if test="rectificationCompanyName != null  and rectificationCompanyName != ''">RECTIFICATION_COMPANY_NAME,</if>
            <if test="mainLeaderId != null  and mainLeaderId != ''">MAIN_LEADER_ID,</if>
            <if test="mainLeaderName != null  and mainLeaderName != ''">MAIN_LEADER_NAME,</if>
            <if test="rectificationStatus != null ">RECTIFICATION_STATUS,</if>
            <if test="rectificationMeasures != null  and rectificationMeasures != ''">RECTIFICATION_MEASURES,</if>
            <if test="createdBy != null  and createdBy != ''">CREATED_BY,</if>
            <if test="createdTime != null ">CREATED_TIME,</if>
            <if test="updatedBy != null  and updatedBy != ''">UPDATED_BY,</if>
            <if test="updatedTime != null ">UPDATED_TIME,</if>
            <if test="entId != null  and entId != ''">ENT_ID,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="feedbackQuestionsId != null ">#{feedbackQuestionsId},</if>
            <if test="feedbackId != null  and feedbackId != ''">#{feedbackId},</if>
            <if test="problemClassification != null  and problemClassification != ''">#{problemClassification},</if>
            <if test="peoblemPerformance != null  and peoblemPerformance != ''">#{peoblemPerformance},</if>
            <if test="deputyLeaderId != null  and deputyLeaderId != ''">#{deputyLeaderId},</if>
            <if test="deputyLeaderName != null  and deputyLeaderName != ''">#{deputyLeaderName},</if>
            <if test="rectificationCompanyId != null  and rectificationCompanyId != ''">#{rectificationCompanyId},</if>
            <if test="rectificationCompanyName != null  and rectificationCompanyName != ''">#{rectificationCompanyName},</if>
            <if test="mainLeaderId != null  and mainLeaderId != ''">#{mainLeaderId},</if>
            <if test="mainLeaderName != null  and mainLeaderName != ''">#{mainLeaderName},</if>
            <if test="rectificationStatus != null ">#{rectificationStatus},</if>
            <if test="rectificationMeasures != null  and rectificationMeasures != ''">#{rectificationMeasures},</if>
            <if test="createdBy != null  and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null ">#{createdTime},</if>
            <if test="updatedBy != null  and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null ">#{updatedTime},</if>
            <if test="entId != null  and entId != ''">#{entId},</if>
         </trim>
    </insert>

    <update id="updateInspectionFeedbackQuestions" parameterType="InspectionFeedbackQuestionsPO">
        update inspection_feedback_questions
        <trim prefix="SET" suffixOverrides=",">
            <if test="feedbackId != null  and feedbackId != ''">FEEDBACK_ID = #{feedbackId},</if>
            <if test="problemClassification != null  and problemClassification != ''">PROBLEM_CLASSIFICATION = #{problemClassification},</if>
            <if test="peoblemPerformance != null  and peoblemPerformance != ''">PEOBLEM_PERFORMANCE = #{peoblemPerformance},</if>
            <if test="deputyLeaderId != null  and deputyLeaderId != ''">DEPUTY_LEADER_ID = #{deputyLeaderId},</if>
            <if test="deputyLeaderName != null  and deputyLeaderName != ''">DEPUTY_LEADER_NAME = #{deputyLeaderName},</if>
            <if test="rectificationCompanyId != null  and rectificationCompanyId != ''">RECTIFICATION_COMPANY_ID = #{rectificationCompanyId},</if>
            <if test="rectificationCompanyName != null  and rectificationCompanyName != ''">RECTIFICATION_COMPANY_NAME = #{rectificationCompanyName},</if>
            <if test="mainLeaderId != null  and mainLeaderId != ''">MAIN_LEADER_ID = #{mainLeaderId},</if>
            <if test="mainLeaderName != null  and mainLeaderName != ''">MAIN_LEADER_NAME = #{mainLeaderName},</if>
            <if test="rectificationStatus != null ">RECTIFICATION_STATUS = #{rectificationStatus},</if>
            <if test="rectificationMeasures != null  and rectificationMeasures != ''">RECTIFICATION_MEASURES = #{rectificationMeasures},</if>
            <if test="createdBy != null  and createdBy != ''">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null ">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null  and updatedBy != ''">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null ">UPDATED_TIME = #{updatedTime},</if>
            <if test="entId != null  and entId != ''">ENT_ID = #{entId},</if>
        </trim>
        where FEEDBACK_QUESTIONS_ID = #{feedbackQuestionsId}
    </update>

    <delete id="deleteInspectionFeedbackQuestionsById" parameterType="Long">
        delete from inspection_feedback_questions where FEEDBACK_QUESTIONS_ID = #{feedbackQuestionsId}
    </delete>

    <delete id="deleteInspectionFeedbackQuestionsByIds" parameterType="String">
        delete from inspection_feedback_questions where FEEDBACK_QUESTIONS_ID in 
        <foreach item="feedbackQuestionsId" collection="array" open="(" separator="," close=")">
            #{feedbackQuestionsId}
        </foreach>
    </delete>
    
</mapper>