<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionFeedbackMapper">

    <resultMap type="InspectionFeedbackPO" id="InspectionFeedbackResult">
        <result property="feedbackId" column="FEEDBACK_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="unitsId" column="UNITS_ID"/>
        <result property="fileName" column="FILE_NAME"/>
        <result property="fileCode" column="FILE_CODE"/>
        <result property="mainCompanyId" column="MAIN_COMPANY_ID"/>
        <result property="mainCompanyName" column="MAIN_COMPANY_NAME"/>
        <result property="copyCompanyId" column="COPY_COMPANY_ID"/>
        <result property="copyCompanyName" column="COPY_COMPANY_NAME"/>
        <result property="toDoTime" column="TO_DO_TIME"/>
        <result property="printTime" column="PRINT_TIME"/>
        <result property="approvalFlag" column="APPROVAL_FLAG"/>
        <result property="approverId" column="APPROVER_ID"/>
        <result property="approverName" column="APPROVER_NAME"/>
        <result property="createdBy" column="f.CREATED_BY"/>
        <result property="createdTime" column="f.CREATED_TIME"/>
        <result property="updatedBy" column="f.UPDATED_BY"/>
        <result property="updatedTime" column="f.UPDATED_TIME"/>
        <result property="entId" column="f.ENT_ID"/>
        <collection property="feedbackQuestionsList" javaType="java.util.List"
                    resultMap="InspectionFeedbackQuestionsResult"/>
    </resultMap>


    <resultMap type="InspectionFeedbackQuestionsPO" id="InspectionFeedbackQuestionsResult">
        <result property="feedbackQuestionsId" column="FEEDBACK_QUESTIONS_ID"/>
        <result property="problemClassification" column="PROBLEM_CLASSIFICATION"/>
        <result property="problemPerformance" column="PROBLEM_PERFORMANCE"/>
        <result property="deputyLeaderId" column="DEPUTY_LEADER_ID"/>
        <result property="deputyLeaderName" column="DEPUTY_LEADER_NAME"/>
        <result property="rectificationCompanyId" column="RECTIFICATION_COMPANY_ID"/>
        <result property="rectificationCompanyName" column="RECTIFICATION_COMPANY_NAME"/>
        <result property="mainLeaderId" column="MAIN_LEADER_ID"/>
        <result property="mainLeaderName" column="MAIN_LEADER_NAME"/>
        <result property="rectificationStatus" column="RECTIFICATION_STATUS"/>
        <result property="rectificationMeasures" column="RECTIFICATION_MEASURES"/>
    </resultMap>

    <resultMap id="unitsBizCountResultMap" type="UnitsBizCountVO">
        <result property="unitsId" column="units_id"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="count" column="count"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>

    <sql id="selectInspectionFeedbackVo">
        select FEEDBACK_ID, PLAN_ID, UNITS_ID, FILE_NAME, FILE_CODE, MAIN_COMPANY_ID, MAIN_COMPANY_NAME, COPY_COMPANY_ID, COPY_COMPANY_NAME, TO_DO_TIME, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, ENT_ID from inspection_feedback
</sql>

    <select id="selectInspectionFeedbackList" parameterType="InspectionFeedbackPO" resultMap="InspectionFeedbackResult">
        select f.FEEDBACK_ID, PLAN_ID, UNITS_ID, FILE_NAME, FILE_CODE, MAIN_COMPANY_ID, MAIN_COMPANY_NAME, COPY_COMPANY_ID, COPY_COMPANY_NAME, TO_DO_TIME,PRINT_TIME,
        f.CREATED_BY as 'f.CREATED_BY ',
        f.CREATED_TIME as 'f.CREATED_TIME',
        f.UPDATED_BY as 'f.UPDATED_BY',
        f.UPDATED_TIME as 'f.UPDATED_TIME',
        f.ENT_ID  as 'f.ENT_ID',
        f.APPROVAL_FLAG, f.APPROVER_ID, f.APPROVER_NAME,
        FEEDBACK_QUESTIONS_ID, PROBLEM_CLASSIFICATION, PROBLEM_PERFORMANCE, DEPUTY_LEADER_ID, DEPUTY_LEADER_NAME, RECTIFICATION_COMPANY_ID, RECTIFICATION_COMPANY_NAME, MAIN_LEADER_ID, MAIN_LEADER_NAME, RECTIFICATION_STATUS, RECTIFICATION_MEASURES
        from
        (
          select FEEDBACK_ID, PLAN_ID, UNITS_ID, FILE_NAME, FILE_CODE, MAIN_COMPANY_ID, MAIN_COMPANY_NAME, COPY_COMPANY_ID, COPY_COMPANY_NAME, TO_DO_TIME, PRINT_TIME, APPROVER_ID, APPROVER_NAME, APPROVAL_FLAG, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, ENT_ID
          from inspection_feedback
          where PLAN_ID = #{planId}
          and   UNITS_ID = #{unitsId}
          limit #{pageNum}, #{pageSize}
        )f
        left join inspection_feedback_questions q on q.FEEDBACK_ID = f.FEEDBACK_ID
    </select>

    <select id="selectInspectionFeedback" parameterType="InspectionFeedbackPO"
            resultMap="InspectionFeedbackResult">
        select
          f.FEEDBACK_ID,
          PLAN_ID,
          UNITS_ID,
          FILE_NAME,
          FILE_CODE,
          MAIN_COMPANY_ID,
          MAIN_COMPANY_NAME,
          COPY_COMPANY_ID,
          COPY_COMPANY_NAME,
          TO_DO_TIME,
          PRINT_TIME,
          f.CREATED_BY as 'f.CREATED_BY ',
          f.CREATED_TIME as 'f.CREATED_TIME',
          f.UPDATED_BY as 'f.UPDATED_BY',
          f.UPDATED_TIME as 'f.UPDATED_TIME',
          f.ENT_ID as 'f.ENT_ID',
          f.APPROVAL_FLAG,
          f.APPROVER_ID,
          f.APPROVER_NAME,
          FEEDBACK_QUESTIONS_ID,
          PROBLEM_CLASSIFICATION,
          PROBLEM_PERFORMANCE,
          DEPUTY_LEADER_ID,
          DEPUTY_LEADER_NAME,
          RECTIFICATION_COMPANY_ID,
          RECTIFICATION_COMPANY_NAME,
          MAIN_LEADER_ID,
          MAIN_LEADER_NAME,
          RECTIFICATION_STATUS,
          RECTIFICATION_MEASURES
        from inspection_feedback f
        left join inspection_feedback_questions q on q.FEEDBACK_ID = f.FEEDBACK_ID
        where f.FEEDBACK_ID = #{feedbackId}
    </select>

    <select id="selectInspectionFeedbackCount" parameterType="java.lang.String"
            resultMap="unitsBizCountResultMap">
        select u.UNITS_ID,u.ORG_ID,u.ORG_NAME,u.created_time, count(d.UNITS_ID) as count
        from inspection_units u
        left join inspection_feedback d on u.UNITS_ID = d.UNITS_ID
        where u.plan_id = #{planId}
        group by u.UNITS_ID
    </select>

</mapper>