<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionPlanMapper">

    <!--巡视计划ResultMap-->
    <resultMap id="inspectionPlanResultMap" type="tech.piis.modules.core.domain.po.InspectionPlanPO">
        <id property="planId" column="PLAN_ID"/>
        <result property="planName" column="PLAN_NAME"/>
        <result property="beginTime" column="BEGIN_TIME"/>
        <result property="endTime" column="END_TIME"/>
        <result property="status" column="STATUS"/>
        <result property="planDesc" column="PLAN_DESC"/>
        <result property="planType" column="PLAN_TYPE"/>
        <result property="planCompanyName" column="PLAN_COMPANY_NAME"/>
        <result property="planCompanyId" column="PLAN_COMPANY_ID"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
        <result property="entId" column="ENT_ID"/>
        <association property="inspectionMobilize" javaType="InspectionMobilizePO" column="planId"
                     resultMap="inspectionMobilizeResultMap"/>

        <collection property="inspectionGroupList" javaType="java.util.List" resultMap="InspectionGroupResultMap"/>
    </resultMap>

    <!--巡视组ResultMap-->
    <resultMap id="InspectionGroupResultMap" type="tech.piis.modules.core.domain.po.InspectionGroupPO">
        <id property="groupId" column="GROUP_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="groupName" column="GROUP_NAME"/>
        <result property="leaderId" column="LEADER_ID"/>
        <result property="leaderName" column="LEADER_NAME"/>
        <result property="deputyLeaderId" column="DEPUTY_LEADER_ID"/>
        <result property="deputyLeaderName" column="DEPUTY_LEADER_NAME"/>
        <result property="connectorId" column="CONNECTOR_ID"/>
        <result property="connectorName" column="CONNECTOR_NAME"/>
        <result property="remark" column="REMARK"/>
        <collection property="inspectionUnitsList" javaType="java.util.List" resultMap="inspectionUnitsResultMap"/>
        <collection property="inspectionGroupMemberList" javaType="java.util.List"
                    resultMap="inspectionGroupMemberResultMap"/>
    </resultMap>

    <!--被巡视单位ResultMap-->
    <resultMap id="inspectionUnitsResultMap" type="tech.piis.modules.core.domain.po.InspectionUnitsPO">
        <id property="unitsId" column="UNITS_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="inspectionTime" column="INSPECTION_TIME"/>
        <result property="orgId" column="ORG_ID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>

    <!--巡视组组员ResultMap-->
    <resultMap id="inspectionGroupMemberResultMap" type="tech.piis.modules.core.domain.po.InspectionGroupMemberPO">
        <id property="groupMemberId" column="GROUP_MEMBER_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberCompany" column="MEMBER_COMPANY"/>
        <result property="memberCompanyName" column="MEMBER_COMPANY_NAME"/>
        <result property="memberPost" column="MEMBER_POST"/>
        <result property="contact" column="CONTACT"/>
    </resultMap>

    <!--巡视动员resultMap-->
    <resultMap id="inspectionMobilizeResultMap" type="InspectionMobilizePO">
        <id property="mobilizeId" column="MOBILIZE_ID"/>
        <result property="meetName" column="MEET_NAME"/>
        <result property="meetPlace" column="MEET_PLACE"/>
        <result property="meetTime" column="MEET_TIME"/>
        <result property="meetDesc" column="MEET_DESC"/>
        <collection property="inspectionMobilizeAttendeeList" javaType="java.util.List"
                    resultMap="inspectionMobilizeAttendeeResultMap"/>
    </resultMap>

    <!--巡视动员参会人员ResultMap-->
    <resultMap id="inspectionMobilizeAttendeeResultMap"
               type="InspectionMobilizeAttendeePO">
        <result property="mobilizeId" column="MOBILIZE_ID"/>
        <result property="attendeeId" column="ATTENDEE_ID"/>
        <result property="attendeeName" column="ATTENDEE_NAME"/>
        <result property="attendeePost" column="ATTENDEE_POST"/>
        <result property="attendeeCompany" column="ATTENDEE_COMPANY"/>
        <result property="attendeeCompanyId" column="ATTENDEE_COMPANY_ID"/>
        <result property="attendeeTime" column="ATTENDEE_TIME"/>
        <result property="attendeePersonType" column="ATTENDEE_PERSON_TYPE"/>
        <result property="remark" column="REMARK"/>
    </resultMap>


    <resultMap id="selectPlanCompanyTotalResultMap"
               type="PlanCompanyCountVO">
        <result property="companyId" column="PLAN_COMPANY_ID"/>
        <result property="companyName" column="PLAN_COMPANY_NAME"/>
        <result property="count" column="count"/>
    </resultMap>


    <resultMap id="planMemberCountResultMap" type="PlanMemberCountVO">
        <result property="planCompanyId" column="PLAN_COMPANY_ID"/>
        <result property="planCompanyName" column="PLAN_COMPANY_NAME"/>
        <result property="leaderCount" column="leaderCount"/>
        <result property="deputyCount" column="deputyCount"/>
        <result property="connectCount" column="connectCount"/>
        <result property="memberCount" column="memberCount"/>
    </resultMap>

    <resultMap id="piisConditionResultMap" type="PlanConditionVO">
        <result property="piisType" column="piisType"/>
        <result property="planName" column="planName"/>
        <result property="groupName" column="groupName"/>
        <result property="leaderPost" column="leaderPost"/>
        <result property="deputyPost" column="deputyPost"/>
        <result property="connectorPost" column="connectorPost"/>
        <result property="memberPost" column="memberPost"/>
        <result property="beginTime" column="beginTime"/>
        <result property="endTime" column="endTime"/>
    </resultMap>

    <select id="selectPlanList" resultMap="inspectionPlanResultMap">
        select
        p.PLAN_ID,
        p.PLAN_NAME ,
        p.BEGIN_TIME ,
        p.END_TIME,
        p.STATUS,
        p.PLAN_TYPE,
        P.PLAN_COMPANY_ID,
        P.PLAN_COMPANY_NAME,
        p.created_time,
        p.PLAN_DESC,
        g.GROUP_ID,
        g.GROUP_NAME,
        g.LEADER_ID,
        g.LEADER_NAME,
        g.DEPUTY_LEADER_ID,
        g.DEPUTY_LEADER_NAME,
        g.CONNECTOR_ID,
        g.CONNECTOR_NAME,
        g.REMARK,
        m.GROUP_MEMBER_ID,
        m.MEMBER_ID,
        m.MEMBER_NAME,
        m.MEMBER_COMPANY,
        m.MEMBER_COMPANY_NAME,
        m.MEMBER_POST,
        m.CONTACT,
        u.UNITS_ID,
        u.INSPECTION_TIME,
        u.ORG_ID,
        u.ORG_NAME,
        u.CREATED_TIME,
        mb.MOBILIZE_ID,
        mb.MEET_NAME,
        mb.MEET_PLACE,
        mb.MEET_TIME,
        mb.MEET_DESC,
        mba.MOBILIZE_ATTENDEE_ID,
        mba.ATTENDEE_ID,
        mba.ATTENDEE_NAME,
        mba.ATTENDEE_POST,
        mba.ATTENDEE_COMPANY,
        mba.ATTENDEE_COMPANY_ID,
        mba.ATTENDEE_PERSON_TYPE,
        mba.ATTENDEE_TIME
        from (
        select
        PLAN_ID,
        PLAN_NAME ,
        BEGIN_TIME ,
        END_TIME,
        STATUS,
        PLAN_TYPE,
        PLAN_COMPANY_ID,
        PLAN_COMPANY_NAME,
        PLAN_DESC,
        CREATED_TIME
        from
        inspection_plan
        <where>
            <if test="planName!=null and planName!=''">
                AND plan_name like concat('%', #{planName}, '%')
            </if>

            <if test="planCompanyId!=null and planCompanyId!=''">
                AND PLAN_COMPANY_ID = #{planCompanyId}
            </if>

            <if test="planType != null" >
                AND PLAN_TYPE = #{planType}
            </if>
        </where>
        ) p
        left join inspection_group g on p.PLAN_ID = g.PLAN_ID
        left join inspection_group_member m on m.GROUP_ID = g.GROUP_ID
        left join inspection_units u on u.GROUP_ID = g.GROUP_ID
        left join inspection_mobilize mb on mb.PLAN_ID = p.PLAN_ID
        left join inspection_mobilize_attendee mba on mba.MOBILIZE_ID = mb.MOBILIZE_ID
    </select>

    <select id="selectPlanCompanyTotal" resultMap="selectPlanCompanyTotalResultMap">
        select PLAN_COMPANY_ID,PLAN_COMPANY_NAME,count(PLAN_COMPANY_ID) as count
        from inspection_plan
        where PLAN_COMPANY_ID is not null
        <if test="beginTime != null"><!-- 开始时间检索 -->
            AND date_format(begin_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null"><!-- 结束时间检索 -->
            AND date_format(begin_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        group by PLAN_COMPANY_ID
    </select>

    <select id="selectMemberCountByTime" parameterType="PlanMemberCountVO" resultMap="planMemberCountResultMap">
        select
        PLAN_COMPANY_ID,
        PLAN_COMPANY_NAME,
        count(distinct (LEADER_ID)) as leaderCount,
        count(distinct (DEPUTY_LEADER_ID)) as deputyCount,
        count(distinct (CONNECTOR_ID)) as connectCount,
        count(m.GROUP_MEMBER_ID) as memberCount
        from inspection_plan p
        left join inspection_group g on p.PLAN_ID = g.PLAN_ID
        left join inspection_group_member m on g.GROUP_ID = m.GROUP_ID
        <where>
            <if test="beginTime != null"><!-- 开始时间检索 -->
                AND date_format(p.CREATED_TIME,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null"><!-- 结束时间检索 -->
                AND date_format(p.CREATED_TIME,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where>
        group by p.PLAN_COMPANY_ID;
    </select>


    <select id="selectPiisConditionByUserId" parameterType="java.lang.String" resultMap="piisConditionResultMap">
      select
          p.PLAN_ID as planId,
          PLAN_NAME as planName,
          GROUP_NAME as groupName,
          case p.PLAN_TYPE
          when 0
            then '巡视'
          when 1
            then '巡察' end  as piisType,
          case when g.LEADER_ID = #{userId}
            then '组长' end  as leaderPost,
          case when g.DEPUTY_LEADER_ID = #{userId}
            then '副组长' end as deputyPost,
          case when g.CONNECTOR_ID = #{userId}
            then '联络员' end as connectorPost,
          null             as memberPost,
          BEGIN_TIME,
          END_TIME
        from inspection_plan p, inspection_group g
        where p.PLAN_ID = g.PLAN_ID
        group by p.PLAN_ID, g.GROUP_ID, LEADER_ID, DEPUTY_LEADER_ID, CONNECTOR_ID
        having LEADER_ID = #{userId} or DEPUTY_LEADER_ID = #{userId} or CONNECTOR_ID = #{userId}
    union
      select
          p.PLAN_ID,
          PLAN_NAME,
          GROUP_NAME,
          case p.PLAN_TYPE
          when 0
            then '巡视'
          when 1
            then '巡察' end  as piisType,
          null             as leaderPost,
          null             as deputyPost,
          null             as connectorPost,
          case when MEMBER_ID = #{userId}
            then '组员' end as memberPost,
          BEGIN_TIME,
          END_TIME
        from inspection_plan p, inspection_group g, inspection_group_member m
        where p.PLAN_ID = g.PLAN_ID
        and m.GROUP_ID = g.GROUP_ID
        group by MEMBER_ID
        having MEMBER_ID = #{userId}
    </select>

    <select id="selectPiisProjectCount" resultType="PiisProjectCountVO">
    select
      PLAN_COMPANY_NAME as orgName,
      count(distinct(p.PLAN_ID)) as planCount,
      count(distinct(g.GROUP_ID)) as groupCount,
      count(distinct(UNITS_ID)) as unitsCount
    from inspection_plan p,inspection_group g,inspection_units u
    where p.PLAN_ID = g.PLAN_ID
    and  p.PLAN_ID = u.PLAN_ID
    group by PLAN_COMPANY_ID
    </select>
</mapper> 