<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionTempBranchMapper">

    <resultMap type="InspectionTempBranchPO" id="InspectionTempBranchResult">
        <result property="tempBranchId" column="TEMP_BRANCH_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="title" column="TITLE"/>
        <result property="forwardSendIds" column="FORWARD_SEND_IDS"/>
        <result property="forwardSendNames" column="FORWARD_SEND_NAMES"/>
        <result property="agentId" column="AGENT_ID"/>
        <result property="agentName" column="AGENT_NAME"/>
        <result property="quickSlow" column="QUICK_SLOW"/>
        <result property="classification" column="CLASSIFICATION"/>
        <result property="phone" column="PHONE"/>
        <result property="time" column="TIME"/>
        <result property="signDeptIds" column="SIGN_DEPT_IDS"/>
        <result property="signDeptNames" column="SIGN_DEPT_NAMES"/>
        <result property="createdBy" column="t.CREATED_BY"/>
        <result property="createdTime" column="t.CREATED_TIME"/>
        <result property="updatedBy" column="t.UPDATED_BY"/>
        <result property="updatedTime" column="t.UPDATED_TIME"/>
        <result property="entId" column="t.ENT_ID"/>
        <collection property="tempBranchMemberList" javaType="java.util.List"
                    resultMap="tech.piis.modules.core.mapper.InspectionTempBranchMemberMapper.InspectionTempBranchMemberResult"/>
    </resultMap>

    <resultMap id="unitsBizCountResultMap" type="UnitsBizCountVO">
        <result property="unitsId" column="units_id"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="count" column="count"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>

    <select id="selectInspectionTempBranchCount" parameterType="java.lang.String"
            resultMap="unitsBizCountResultMap">
        select u.UNITS_ID,u.ORG_ID,u.ORG_NAME,u.created_time,count(d.UNITS_ID) as count
        from inspection_units u
        left join inspection_temp_branch d on u.UNITS_ID = d.UNITS_ID
        where u.plan_id = #{planId}
        group by u.UNITS_ID
        order by u.CREATED_TIME desc
    </select>

    <select id="selectInspectionTempBranch" parameterType="InspectionTempBranchPO"
            resultMap="InspectionTempBranchResult">
        select
          b.TEMP_BRANCH_ID,
          PLAN_ID,
          TITLE,
          FORWARD_SEND_IDS,
          FORWARD_SEND_NAMES,
          AGENT_ID,
          AGENT_NAME,
          QUICK_SLOW,
          CLASSIFICATION,
          PHONE,
          SIGN_DEPT_IDS,
          SIGN_DEPT_NAMES,
          TIME,
          m.TEMP_BRANCH_MEMBER_ID,
          m.TEMP_BRANCH_NAME,
          m.SECRETARY_ID,
          m.SECRETARY_NAME,
          m.BRANCH_PERSON_ID,
          m.BRANCH_PERSON_NAME,
          m.BRANCH_MEMBER_IDS,
          m.BRANCH_MEMBER_NAMES,
          doc.PIIS_DOC_ID,
          doc.OBJECT_ID,
          doc.FILE_DICT_ID,
          doc.FILE_NAME,
          doc.FILE_SIZE,
          doc.FILE_PATH,
          b.CREATED_BY as 't.CREATED_BY',
          b.CREATED_TIME as 't.CREATED_TIME',
          b.UPDATED_BY as 't.UPDATED_BY',
          b.UPDATED_TIME as 't.UPDATED_TIME',
          b.ENT_ID as 't.ENT_ID'
        from inspection_temp_branch b
          left join inspection_temp_branch_member m on b.TEMP_BRANCH_ID = m.TEMP_BRANCH_ID
          left join piis_document doc on concat('TempBranchMember', m.TEMP_BRANCH_MEMBER_ID) = doc.OBJECT_ID
        where PLAN_ID = #{planId}
    </select>

</mapper>