<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionFeedbackQuestionsMapper">
    
    <resultMap type="InspectionFeedbackQuestionsPO" id="InspectionFeedbackQuestionsResult">
        <result property="feedbackQuestionsId"    column="FEEDBACK_QUESTIONS_ID"    />
        <result property="feedbackId"    column="FEEDBACK_ID"    />
        <result property="problemClassification"    column="PROBLEM_CLASSIFICATION"    />
        <result property="peoblemPerformance"    column="PEOBLEM_PERFORMANCE"    />
        <result property="deputyLeaderId"    column="DEPUTY_LEADER_ID"    />
        <result property="deputyLeaderName"    column="DEPUTY_LEADER_NAME"    />
        <result property="rectificationCompanyId"    column="RECTIFICATION_COMPANY_ID"    />
        <result property="rectificationCompanyName"    column="RECTIFICATION_COMPANY_NAME"    />
        <result property="mainLeaderId"    column="MAIN_LEADER_ID"    />
        <result property="mainLeaderName"    column="MAIN_LEADER_NAME"    />
        <result property="rectificationStatus"    column="RECTIFICATION_STATUS"    />
        <result property="rectificationMeasures"    column="RECTIFICATION_MEASURES"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
        <result property="entId"    column="ENT_ID"    />
    </resultMap>

    <resultMap id="unitsBizCountResultMap" type="UnitsBizCountVO">
        <result property="unitsId" column="units_id"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="count" column="count"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>
    
</mapper>