<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionMeetingsResearchMapper">

    <resultMap id="InspectionMeetingsResearchResult" type="InspectionMeetingsResearchPO">
        <result property="meetingsResearchId" column="MEETINGS_RESEARCH_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="unitsId" column="UNITS_ID"/>
        <result property="meetingsType" column="MEETINGS_TYPE"/>
        <result property="meetingsName" column="MEETINGS_NAME"/>
        <result property="meetingsTime" column="MEETINGS_TIME"/>
        <result property="venue" column="VENUE"/>
        <result property="participantsId" column="PARTICIPANTS_ID"/>
        <result property="participantsName" column="PARTICIPANTS_NAME"/>
        <result property="meetingsContent" column="MEETINGS_CONTENT"/>
        <result property="createdBy" column="r.CREATED_BY"/>
        <result property="createdTime" column="r.CREATED_TIME"/>
        <result property="updatedBy" column="r.UPDATED_BY"/>
        <result property="updatedTime" column="r.UPDATED_TIME"/>
        <result property="entId" column="r.ENT_ID"/>
        <result property="approverId" column="APPROVER_ID"/>
        <result property="approverName" column="APPROVER_NAME"/>
        <result property="approvalFlag" column="APPROVAL_FLAG"/>
        <collection property="documents" javaType="java.util.List"
                    resultMap="tech.piis.modules.core.mapper.PiisDocumentMapper.documentResultMap"/>
    </resultMap>

    <resultMap id="unitsBizCountResultMap" type="UnitsBizCountVO">
        <result property="unitsId" column="units_id"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="count" column="count"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>

    <sql id="selectInspectionMeetingsResearchVo">
        select MEETINGS_RESEARCH_ID, PLAN_ID, UNITS_ID, MEETINGS_TYPE, MEETINGS_NAME, MEETINGS_TIME, VENUE, PARTICIPANTS_ID, PARTICIPANTS_NAME, MEETINGS_CONTENT, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, ENT_ID, APPROVER_ID, APPROVER_NAME, APPROVAL_FLAG from inspection_meetings_research
    </sql>

    <select id="selectInspectionMeetingsResearchCount" parameterType="java.lang.String"
            resultMap="unitsBizCountResultMap">
        select u.UNITS_ID,u.ORG_ID,u.ORG_NAME,u.created_time,count(d.UNITS_ID) as count
        from inspection_units u
        left join inspection_meetings_research d on u.UNITS_ID = d.UNITS_ID
        where u.plan_id = #{planId}
        group by u.UNITS_ID
    </select>

    <select id="selectInspectionMeetingsResearchWithFileById" parameterType="InspectionMeetingsResearchPO"
            resultMap="InspectionMeetingsResearchResult">
        select
          MEETINGS_RESEARCH_ID,
          PLAN_ID,
          UNITS_ID,
          MEETINGS_TYPE,
          MEETINGS_NAME,
          MEETINGS_TIME,
          VENUE,
          PARTICIPANTS_ID,
          PARTICIPANTS_NAME,
          MEETINGS_CONTENT,
          r.CREATED_BY as 'r.CREATED_BY',
          r.CREATED_TIME as 'r.CREATED_TIME',
          r.UPDATED_BY as 'r.UPDATED_BY',
          r.UPDATED_TIME as 'r.UPDATED_TIME',
          r.ENT_ID as 'r.ENT_ID',
          APPROVER_ID,
          APPROVER_NAME,
          APPROVAL_FLAG,
          doc.PIIS_DOC_ID,
          doc.OBJECT_ID,
          doc.FILE_DICT_ID,
          doc.FILE_NAME,
          doc.FILE_SIZE,
          doc.FILE_PATH
        from inspection_meetings_research r
        left join piis_document doc on concat('MeetingsResearch', R.MEETINGS_RESEARCH_ID) = doc.OBJECT_ID
        where MEETINGS_RESEARCH_ID = #{meetingsResearchId}
    </select>

</mapper>