<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionMobilizeMapper">

    <!--巡视动员resultMap-->
    <resultMap id="inspectionGroupResultMap" type="tech.piis.modules.core.domain.po.InspectionMobilizePO">
        <id property="id" column="id"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="meetName" column="MEET_NAME"/>
        <result property="meetPlace" column="MEET_PLACE"/>
        <result property="meetTime" column="MEET_TIME"/>
        <result property="meetDesc" column="MEET_DESC"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
        <result property="entId" column="ENT_ID"/>
        <collection property="inspectionMobilizeAttendeeList" javaType="java.util.List" resultMap="inspectionMobilizeAttendeeResultMap"/>
    </resultMap>

    <!--巡视动员参会人员ResultMap-->
    <resultMap id="inspectionMobilizeAttendeeResultMap" type="tech.piis.modules.core.domain.po.InspectionMobilizeAttendeePO">
        <id property="id" column="id"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="mobilizeId" column="MOBILIZE_ID"/>
        <result property="attendeeId" column="ATTENDEE_ID"/>
        <result property="attendeeName" column="ATTENDEE_NAME"/>
        <result property="attendeePost" column="ATTENDEE_POST"/>
        <result property="attendeeCompany" column="ATTENDEE_COMPANY"/>
    </resultMap>


</mapper> 