<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionTempBranchMemberMapper">

    <resultMap type="InspectionTempBranchMemberPO" id="InspectionTempBranchMemberResult">
        <result property="tempBranchMemberId" column="TEMP_BRANCH_MEMBER_ID"/>
        <result property="tempBranchName" column="TEMP_BRANCH_NAME"/>
        <result property="secretaryId" column="SECRETARY_ID"/>
        <result property="secretaryName" column="SECRETARY_NAME"/>
        <result property="branchPersonId" column="BRANCH_PERSON_ID"/>
        <result property="branchPersonName" column="BRANCH_PERSON_NAME"/>
        <result property="branchMemberIds" column="BRANCH_MEMBER_IDS"/>
        <result property="branchMemberNames" column="BRANCH_MEMBER_NAMES"/>
        <collection property="documents" javaType="java.util.List" resultMap="tech.piis.modules.core.mapper.PiisDocumentMapper.documentResultMap"/>
    </resultMap>

    <sql id="selectInspectionTempBranchMemberVo">
        select TEMP_BRANCH_MEMBER_ID,SECRETARY_ID, SECRETARY_NAME, BRANCH_PERSON_ID, BRANCH_PERSON_NAME, BRANCH_MEMBER_IDS, BRANCH_MEMBER_NAMES,CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, ENT_ID from inspection_temp_branch_member
    </sql>

    <insert id="insertBatch" parameterType="InspectionTempBranchMemberPO" useGeneratedKeys="true" keyProperty="tempBranchMemberId">
        insert into inspection_temp_branch_member(TEMP_BRANCH_ID,TEMP_BRANCH_NAME,SECRETARY_ID, SECRETARY_NAME, BRANCH_PERSON_ID,
        BRANCH_PERSON_NAME,
        BRANCH_MEMBER_IDS, BRANCH_MEMBER_NAMES) values
        <foreach item="item" index="index" collection="list" separator=",">
            (
            #{item.tempBranchId},
            #{item.tempBranchName},
            #{item.secretaryId},
            #{item.secretaryName},
            #{item.branchPersonId},
            #{item.branchPersonName},
            #{item.branchMemberIds},
            #{item.branchMemberNames}
            )
        </foreach>
    </insert>

</mapper>