<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionLearnTrainMapper">
    
    <resultMap type="InspectionLearnTrainPO" id="InspectionLearnTrainResult">
        <result property="learnTrainId"    column="LEARN_TRAIN_ID"    />
        <result property="planId"    column="PLAN_ID"    />
        <result property="trainName"    column="TRAIN_NAME"    />
        <result property="trainPlace"    column="TRAIN_PLACE"    />
        <result property="beginTime"    column="BEGIN_TIME"    />
        <result property="endTime"    column="END_TIME"    />
        <result property="approvalFlag"    column="APPROVAL_FLAG"    />
        <result property="createdBy"    column="CREATED_BY"    />
        <result property="createdTime"    column="CREATED_TIME"    />
        <result property="updatedBy"    column="UPDATED_BY"    />
        <result property="updatedTime"    column="UPDATED_TIME"    />
        <result property="entId"    column="ENT_ID"    />
    </resultMap>

    <resultMap id="unitsBizCountResultMap" type="UnitsBizCountVO">
        <result property="unitsId" column="units_id"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="count" column="count"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>

    <sql id="selectInspectionLearnTrainVo">
        select LEARN_TRAIN_ID, PLAN_ID, TRAIN_NAME, TRAIN_PLACE, BEGIN_TIME, END_TIME, APPROVAL_FLAG, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, ENT_ID from inspection_learn_train
    </sql>

    <select id="selectInspectionLearnTrainCount}" parameterType="java.lang.String"
            resultMap="unitsBizCountResultMap">
        select u.UNITS_ID,u.ORG_ID,u.ORG_NAME,u.created_time,count(d.UNITS_ID) as count
        from inspection_units u
        left join inspection_learn_train d on u.UNITS_ID = d.UNITS_ID
        where u.plan_id = #{planId}
        group by u.UNITS_ID
        order by u.created_time, u.UNITS_ID desc
    </select>

    <select id="selectInspectionLearnTrainList" parameterType="InspectionLearnTrainPO" resultMap="InspectionLearnTrainResult">
        <include refid="selectInspectionLearnTrainVo"/>
        <where>  
            <if test="planId != null  and planId != ''"> and PLAN_ID = #{planId}</if>
            <if test="trainName != null  and trainName != ''"> and TRAIN_NAME like concat('%', #{trainName}, '%')</if>
            <if test="trainPlace != null  and trainPlace != ''"> and TRAIN_PLACE = #{trainPlace}</if>
            <if test="beginTime != null "> and BEGIN_TIME = #{beginTime}</if>
            <if test="endTime != null "> and END_TIME = #{endTime}</if>
            <if test="approvalFlag != null "> and APPROVAL_FLAG = #{approvalFlag}</if>
            <if test="createdBy != null  and createdBy != ''"> and CREATED_BY = #{createdBy}</if>
            <if test="createdTime != null "> and CREATED_TIME = #{createdTime}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and UPDATED_BY = #{updatedBy}</if>
            <if test="updatedTime != null "> and UPDATED_TIME = #{updatedTime}</if>
            <if test="entId != null  and entId != ''"> and ENT_ID = #{entId}</if>
        </where>
    </select>
    
    <select id="selectInspectionLearnTrainById" parameterType="Long" resultMap="InspectionLearnTrainResult">
        <include refid="selectInspectionLearnTrainVo"/>
        where LEARN_TRAIN_ID = #{learnTrainId}
    </select>
        
    <insert id="insertInspectionLearnTrain" parameterType="InspectionLearnTrainPO" useGeneratedKeys="true" keyProperty="learnTrainId">
        insert into inspection_learn_train
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="planId != null  and planId != ''">PLAN_ID,</if>
            <if test="trainName != null  and trainName != ''">TRAIN_NAME,</if>
            <if test="trainPlace != null  and trainPlace != ''">TRAIN_PLACE,</if>
            <if test="beginTime != null ">BEGIN_TIME,</if>
            <if test="endTime != null ">END_TIME,</if>
            <if test="approvalFlag != null ">APPROVAL_FLAG,</if>
            <if test="createdBy != null  and createdBy != ''">CREATED_BY,</if>
            <if test="createdTime != null ">CREATED_TIME,</if>
            <if test="updatedBy != null  and updatedBy != ''">UPDATED_BY,</if>
            <if test="updatedTime != null ">UPDATED_TIME,</if>
            <if test="entId != null  and entId != ''">ENT_ID,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="planId != null  and planId != ''">#{planId},</if>
            <if test="trainName != null  and trainName != ''">#{trainName},</if>
            <if test="trainPlace != null  and trainPlace != ''">#{trainPlace},</if>
            <if test="beginTime != null ">#{beginTime},</if>
            <if test="endTime != null ">#{endTime},</if>
            <if test="approvalFlag != null ">#{approvalFlag},</if>
            <if test="createdBy != null  and createdBy != ''">#{createdBy},</if>
            <if test="createdTime != null ">#{createdTime},</if>
            <if test="updatedBy != null  and updatedBy != ''">#{updatedBy},</if>
            <if test="updatedTime != null ">#{updatedTime},</if>
            <if test="entId != null  and entId != ''">#{entId},</if>
         </trim>
    </insert>

    <update id="updateInspectionLearnTrain" parameterType="InspectionLearnTrainPO">
        update inspection_learn_train
        <trim prefix="SET" suffixOverrides=",">
            <if test="planId != null  and planId != ''">PLAN_ID = #{planId},</if>
            <if test="trainName != null  and trainName != ''">TRAIN_NAME = #{trainName},</if>
            <if test="trainPlace != null  and trainPlace != ''">TRAIN_PLACE = #{trainPlace},</if>
            <if test="beginTime != null ">BEGIN_TIME = #{beginTime},</if>
            <if test="endTime != null ">END_TIME = #{endTime},</if>
            <if test="approvalFlag != null ">APPROVAL_FLAG = #{approvalFlag},</if>
            <if test="createdBy != null  and createdBy != ''">CREATED_BY = #{createdBy},</if>
            <if test="createdTime != null ">CREATED_TIME = #{createdTime},</if>
            <if test="updatedBy != null  and updatedBy != ''">UPDATED_BY = #{updatedBy},</if>
            <if test="updatedTime != null ">UPDATED_TIME = #{updatedTime},</if>
            <if test="entId != null  and entId != ''">ENT_ID = #{entId},</if>
        </trim>
        where LEARN_TRAIN_ID = #{learnTrainId}
    </update>

    <delete id="deleteInspectionLearnTrainById" parameterType="Long">
        delete from inspection_learn_train where LEARN_TRAIN_ID = #{learnTrainId}
    </delete>

    <delete id="deleteInspectionLearnTrainByIds" parameterType="String">
        delete from inspection_learn_train where LEARN_TRAIN_ID in 
        <foreach item="learnTrainId" collection="array" open="(" separator="," close=")">
            #{learnTrainId}
        </foreach>
    </delete>
    
</mapper>