<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionClueTransferMapper">

    <resultMap type="InspectionClueTransferPO" id="inspectionClueTransferResult">
        <result property="clueTransferId" column="CLUE_TRANSFER_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="unitsId" column="UNITS_ID"/>
        <result property="clueName" column="CLUE_NAME"/>
        <result property="transferCompanyId" column="TRANSFER_COMPANY_ID"/>
        <result property="transferCompanyName" column="TRANSFER_COMPANY_NAME"/>
        <result property="transferAgentId" column="TRANSFER_AGENT_ID"/>
        <result property="transferAgentName" column="TRANSFER_AGENT_NAME"/>
        <result property="transferTime" column="TRANSFER_TIME"/>
        <result property="receiverCompanyId" column="RECEIVER_COMPANY_ID"/>
        <result property="receiverCompanyName" column="RECEIVER_COMPANY_NAME"/>
        <result property="receiverAgentId" column="RECEIVER_AGENT_ID"/>
        <result property="receiverAgentName" column="RECEIVER_AGENT_NAME"/>
        <result property="receiverTime" column="RECEIVER_TIME"/>
        <result property="feedbackCompanyId" column="FEEDBACK_COMPANY_ID"/>
        <result property="feedbackCompanyName" column="FEEDBACK_COMPANY_NAME"/>
        <result property="feedbackTime" column="FEEDBACK_TIME"/>
        <result property="feedbackContent" column="FEEDBACK_CONTENT"/>
        <result property="remark" column="REMARK"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
        <result property="entId" column="ENT_ID"/>

        <collection property="clueTransferDetailList" javaType="java.util.List"
                    resultMap="inspectionClueTransferDetailResult"/>
    </resultMap>

    <resultMap type="InspectionClueTransferDetailPO" id="inspectionClueTransferDetailResult">
        <result property="clueTransferDetailId" column="CLUE_TRANSFER_DETAIL_ID"/>
        <result property="reflectedPersonName" column="REFLECTED_PERSON_NAME"/>
        <result property="reflectedPersonId" column="REFLECTED_PERSON_ID"/>
        <result property="reflectedPersonPost" column="REFLECTED_PERSON_POST"/>
        <result property="clueOrigin" column="CLUE_ORIGIN"/>
        <result property="acceptTime" column="ACCEPT_TIME"/>
        <result property="planTransferCompanyId" column="PLAN_TRANSFER_COMPANY_ID"/>
        <result property="planTransferCompanyName" column="PLAN_TRANSFER_COMPANY_NAME"/>
        <collection property="documents" javaType="java.util.List"
                    resultMap="documentResultMap"/>
    </resultMap>

    <resultMap id="documentResultMap" type="PiisDocumentPO">
        <id property="piisDocId" column="PIIS_DOC_ID"/>
        <result property="objectId" column="OBJECT_ID"/>
        <result property="fileDictId" column="FILE_DICT_ID"/>
        <result property="fileName" column="FILE_NAME"/>
        <result property="fileSize" column="FILE_SIZE"/>
        <result property="filePath" column="FILE_PATH"/>
    </resultMap>

    <resultMap id="unitsBizCountResultMap" type="UnitsBizCountVO">
        <result property="unitsId" column="units_id"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="count" column="count"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>

    <sql id="selectInspectionClueTransferVo">
        select CLUE_TRANSFER_ID, PLAN_ID, UNITS_ID, CLUE_NAME, TRANSFER_COMPANY_ID, TRANSFER_COMPANY_NAME, TRANSFER_AGENT_ID, TRANSFER_AGENT_NAME, TRANSFER_TIME, RECEIVER_COMPANY_ID, RECEIVER_COMPANY_NAME, RECEIVER_AGENT_ID, RECEIVER_AGENT_NAME, RECEIVER_TIME, FEEDBACK_COMPANY_ID, FEEDBACK_COMPANY_NAME, FEEDBACK_TIME, FEEDBACK_CONTENT, REMARK, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, ENT_ID from inspection_clue_transfer
    </sql>

    <select id="selectInspectionClueTransferList" parameterType="InspectionClueTransferPO"
            resultMap="inspectionClueTransferResult">
        select
              i.CLUE_TRANSFER_ID,
              i.PLAN_ID,
              i.UNITS_ID,
              i.CLUE_NAME,
              i.TRANSFER_COMPANY_ID,
              i.TRANSFER_COMPANY_NAME,
              i.TRANSFER_AGENT_ID,
              i.TRANSFER_AGENT_NAME,
              i.TRANSFER_TIME,
              i.RECEIVER_COMPANY_ID,
              i.RECEIVER_COMPANY_NAME,
              i.RECEIVER_AGENT_ID,
              i.RECEIVER_AGENT_NAME,
              i.RECEIVER_TIME,
              i.FEEDBACK_COMPANY_ID,
              i.FEEDBACK_COMPANY_NAME,
              i.FEEDBACK_TIME,
              i.FEEDBACK_CONTENT,
              i.REMARK,
              i.CREATED_BY,
              i.CREATED_TIME,
              i.UPDATED_BY,
              i.UPDATED_TIME,
              i.ENT_ID,
              CLUE_TRANSFER_DETAIL_ID,
              REFLECTED_PERSON_NAME,
              REFLECTED_PERSON_ID,
              REFLECTED_PERSON_POST,
              CLUE_ORIGIN,
              ACCEPT_TIME,
              PLAN_TRANSFER_COMPANY_ID,
              PLAN_TRANSFER_COMPANY_NAME,
              doc.PIIS_DOC_ID,
              doc.FILE_DICT_ID,
              doc.OBJECT_ID,
              doc.FILE_PATH,
              doc.FILE_SIZE,
              doc.FILE_NAME
            from (
               select
                 CLUE_TRANSFER_ID,
                 PLAN_ID,
                 UNITS_ID,
                 CLUE_NAME,
                 TRANSFER_COMPANY_ID,
                 TRANSFER_COMPANY_NAME,
                 TRANSFER_AGENT_ID,
                 TRANSFER_AGENT_NAME,
                 TRANSFER_TIME,
                 RECEIVER_COMPANY_ID,
                 RECEIVER_COMPANY_NAME,
                 RECEIVER_AGENT_ID,
                 RECEIVER_AGENT_NAME,
                 RECEIVER_TIME,
                 FEEDBACK_COMPANY_ID,
                 FEEDBACK_COMPANY_NAME,
                 FEEDBACK_TIME,
                 FEEDBACK_CONTENT,
                 REMARK,
                 CREATED_BY,
                 CREATED_TIME,
                 UPDATED_BY,
                 UPDATED_TIME,
                 ENT_ID
               from inspection_clue_transfer
               where PLAN_ID =#{planId}
                     and UNITS_ID = #{unitsId}
               order by CREATED_TIME desc
               limit #{pageNum}, #{pageSize}
           ) i
  left join inspection_clue_transfer_detail d on i.CLUE_TRANSFER_ID = d.CLUE_TRANSFER_ID
  left join piis_document doc on concat('ClueTransferDetail', d.CLUE_TRANSFER_DETAIL_ID) = doc.OBJECT_ID
    </select>

    <select id="selectInspectionClueTransferCount" parameterType="InspectionClueTransferPO"
            resultMap="unitsBizCountResultMap">
        select u.UNITS_ID,u.ORG_ID,u.ORG_NAME,u.created_time, count(d.UNITS_ID) as count
        from inspection_units u
        left join inspection_clue_transfer d on u.UNITS_ID = d.UNITS_ID
        where u.plan_id = #{planId}
        group by u.UNITS_ID
        order by u.created_time, u.UNITS_ID desc
    </select>


</mapper>