<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionCallVisitMapper">

    <resultMap type="InspectionCallVisitPO" id="InspectionCallVisitResult">
        <result property="callVisitId" column="CALL_VISIT_ID"/>
        <result property="unitsId" column="UNITS_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="callTime" column="CALL_TIME"/>
        <result property="callCompanyId" column="CALL_COMPANY_ID"/>
        <result property="callCompanyName" column="CALL_COMPANY_NAME"/>
        <result property="callPersonId" column="CALL_PERSON_ID"/>
        <result property="callPersonName" column="CALL_PERSON_NAME"/>
        <result property="callNumber" column="CALL_NUMBER"/>
        <result property="recorderId" column="RECORDER_ID"/>
        <result property="recorderName" column="RECORDER_NAME"/>
        <result property="recorderCompanyId" column="RECORDER_COMPANY_ID"/>
        <result property="recorderCompanyName" column="RECORDER_COMPANY_NAME"/>
        <result property="callContent" column="CALL_CONTENT"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
        <result property="entId" column="ENT_ID"/>
        <result property="approverId" column="APPROVER_ID"/>
        <result property="approverName" column="APPROVER_NAME"/>
        <result property="approvalFlag" column="APPROVAL_FLAG"/>
        <collection property="documents" javaType="java.util.List" resultMap="documentResultMap"/>
    </resultMap>

    <resultMap id="documentResultMap" type="PiisDocumentPO">
        <result property="piisDocId" column="PIIS_DOC_ID"/>
        <result property="objectId" column="OBJECT_ID"/>
        <result property="fileDictId" column="FILE_DICT_ID"/>
        <result property="fileName" column="FILE_NAME"/>
        <result property="fileSize" column="FILE_SIZE"/>
        <result property="filePath" column="FILE_PATH"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
        <result property="entId" column="ENT_ID"/>
    </resultMap>

    <sql id="selectInspectionCallVisitVo">
        select CALL_VISIT_ID, UNITS_ID, PLAN_ID, CALL_TIME, CALL_COMPANY_ID, CALL_COMPANY_NAME, CALL_PERSON_ID, CALL_PERSON_NAME, CALL_NUMBER, RECORDER_ID, RECORDER_NAME, RECORDER_COMPANY_ID, RECORDER_COMPANY_NAME, CALL_CONTENT, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, ENT_ID, APPROVER_ID, APPROVER_NAME, APPROVAL_FLAG from inspection_call_visit
    </sql>

    <select id="selectVisitWithFile" parameterType="InspectionCallVisitPO"
            resultMap="InspectionCallVisitResult">
        select CALL_VISIT_ID, UNITS_ID, PLAN_ID, CALL_TIME, CALL_COMPANY_ID, CALL_COMPANY_NAME, CALL_PERSON_ID, CALL_PERSON_NAME, CALL_NUMBER, RECORDER_ID, RECORDER_NAME, RECORDER_COMPANY_ID, RECORDER_COMPANY_NAME, CALL_CONTENT, v.CREATED_BY, v.CREATED_TIME, v.UPDATED_BY, v.UPDATED_TIME, v.ENT_ID, APPROVER_ID, APPROVER_NAME, APPROVAL_FLAG ,doc.PIIS_DOC_ID,
          doc.OBJECT_ID,
          doc.FILE_DICT_ID,
          doc.FILE_NAME,
          doc.FILE_SIZE,
          doc.FILE_PATH from inspection_call_visit v
      left join piis_document doc on concat('CallVisit', v.CALL_VISIT_ID) = doc.OBJECT_ID
      where v.CALL_VISIT_ID = #{callVisitId}
    </select>


</mapper>