<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionAnnouncementInfoMapper">

    <resultMap type="InspectionAnnouncementInfoPO" id="InspectionAnnouncementInfoResult">
        <result property="announcementInfoId" column="ANNOUNCEMENT_INFO_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="unitsId" column="UNITS_ID"/>
        <result property="approverId" column="APPROVER_ID"/>
        <result property="approverName" column="APPROVER_NAME"/>
        <result property="approvalFlag" column="APPROVAL_FLAG"/>
        <result property="createdBy" column="c.CREATED_BY"/>
        <result property="createdTime" column="c.CREATED_TIME"/>
        <result property="updatedBy" column="c.UPDATED_BY"/>
        <result property="updatedTime" column="c.UPDATED_TIME"/>
        <result property="entId" column="c.ENT_ID"/>
        <collection property="documents" javaType="java.util.List"
                    resultMap="tech.piis.modules.core.mapper.PiisDocumentMapper.documentResultMap"/>
    </resultMap>

    <resultMap type="AnnouncementInfoCountVO" id="announcementInfoCountResult">
        <result property="unitsId" column="UNITS_ID"/>
        <result property="orgName" column="ORG_NAME"/>
        <collection property="documents" javaType="java.util.List"
                    resultMap="tech.piis.modules.core.mapper.PiisDocumentMapper.documentResultMap"/>
    </resultMap>

    <resultMap id="unitsBizCountResultMap" type="UnitsBizCountVO">
        <result property="unitsId" column="units_id"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="count" column="count"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>

    <sql id="selectInspectionAnnouncementInfoVo">
        select ANNOUNCEMENT_INFO_ID, PLAN_ID, UNITS_ID, APPROVER_ID, APPROVER_NAME, APPROVAL_FLAG, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, ENT_ID from inspection_announcement_info
    </sql>

    <select id="selectInspectionAnnouncementInfoCount" parameterType="java.lang.String"
            resultMap="announcementInfoCountResult">
         select
          u.ORG_NAME,
          u.UNITS_ID,
          doc.PIIS_DOC_ID,
          doc.OBJECT_ID,
          doc.FILE_DICT_ID,
          doc.FILE_NAME,
          doc.FILE_SIZE,
          doc.FILE_PATH
        from inspection_units u
          left join inspection_plan p on p.PLAN_ID = u.PLAN_ID
          left join inspection_announcement_info i on i.UNITS_ID = u.UNITS_ID
          left join piis_document doc on concat('AnnouncementInfo', i.ANNOUNCEMENT_INFO_ID) = doc.OBJECT_ID
        where u.PLAN_ID = #{planId}
    </select>

    <select id="selectInspectionAnnouncementInfoWithFile" parameterType="InspectionAnnouncementInfoPO"
            resultMap="InspectionAnnouncementInfoResult">
         select ANNOUNCEMENT_INFO_ID, PLAN_ID, UNITS_ID, APPROVER_ID, APPROVER_NAME, APPROVAL_FLAG,
         i.CREATED_BY as 'c.CREATED_BY',
         i.CREATED_TIME as 'c.CREATED_TIME',
         i.UPDATED_BY as 'c.UPDATED_BY',
         i.UPDATED_TIME as 'c.UPDATED_TIME',
         i.ENT_ID as 'c.ENT_ID',
         doc.PIIS_DOC_ID,
         doc.OBJECT_ID,
         doc.FILE_DICT_ID,
         doc.FILE_NAME,
         doc.FILE_SIZE,
         doc.FILE_PATH
         from inspection_announcement_info i
         left join piis_document doc on concat('AnnouncementInfo', i.ANNOUNCEMENT_INFO_ID) = doc.OBJECT_ID
         where i.ANNOUNCEMENT_INFO_ID = #{announcementInfoId}
    </select>

</mapper>