<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionPresentMeetingMapper">

    <resultMap id="InspectionPresentMeetingResult" type="InspectionPresentMeetingPO">
        <result property="presentMeetingId" column="PRESENT_MEETING_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="unitsId" column="UNITS_ID"/>
        <result property="reportName" column="REPORT_NAME"/>
        <result property="reportTime" column="REPORT_TIME"/>
        <result property="venue" column="VENUE"/>
        <result property="reporterName" column="REPORTER_NAME"/>
        <result property="reporterId" column="REPORTER_ID"/>
        <result property="inspectionGroupPersonName" column="INSPECTION_GROUP_PERSON_NAME"/>
        <result property="inspectionGroupPersonId" column="INSPECTION_GROUP_PERSON_ID"/>
        <result property="reportPersonName" column="REPORT_PERSON_NAME"/>
        <result property="reportPersonId" column="REPORT_PERSON_ID"/>
        <result property="meetingDesc" column="MEETING_DESC"/>
        <result property="approvalFlag" column="APPROVAL_FLAG"/>
        <result property="approverId" column="APPROVER_ID"/>
        <result property="approverName" column="APPROVER_NAME"/>
        <result property="createdBy" column="m.CREATED_BY"/>
        <result property="createdTime" column="m.CREATED_TIME"/>
        <result property="updatedBy" column="m.UPDATED_BY"/>
        <result property="updatedTime" column="m.UPDATED_TIME"/>
        <result property="entId" column="m.ENT_ID"/>
        <collection property="documents" javaType="java.util.List"
                    resultMap="tech.piis.modules.core.mapper.PiisDocumentMapper.documentResultMap"/>
    </resultMap>

    <resultMap id="unitsBizCountResultMap" type="UnitsBizCountVO">
        <result property="unitsId" column="units_id"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="count" column="count"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>

    <sql id="selectInspectionPresentMeetingVo">
        select PRESENT_MEETING_ID, PLAN_ID, UNITS_ID, REPORT_NAME, REPORT_TIME, VENUE, REPORTER_NAME, REPORTER_ID, INSPECTION_GROUP_PERSON_NAME, INSPECTION_GROUP_PERSON_ID, REPORT_PERSON_NAME, REPORT_PERSON_ID, MEETING_DESC, APPROVAL_FLAG, APPROVER_ID, APPROVER_NAME, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, ENT_ID from inspection_present_meeting
    </sql>

    <select id="selectInspectionPresentMeetingCount" parameterType="java.lang.String"
            resultMap="unitsBizCountResultMap">
        select u.UNITS_ID,u.ORG_ID,u.ORG_NAME,u.created_time,count(d.UNITS_ID) as count
        from inspection_units u
        left join inspection_present_meeting d on u.UNITS_ID = d.UNITS_ID
        where u.plan_id = #{planId}
        group by u.UNITS_ID
    </select>

    <select id="selectInspectionPresentMeetingWithFileById" parameterType="InspectionPresentMeetingPO"
            resultMap="InspectionPresentMeetingResult">
        select PRESENT_MEETING_ID, PLAN_ID, UNITS_ID, REPORT_NAME, REPORT_TIME, VENUE, REPORTER_NAME, REPORTER_ID, INSPECTION_GROUP_PERSON_NAME, INSPECTION_GROUP_PERSON_ID, REPORT_PERSON_NAME, REPORT_PERSON_ID, MEETING_DESC, APPROVAL_FLAG, APPROVER_ID, APPROVER_NAME,
        m.CREATED_BY as 'm.CREATED_BY',
        m.CREATED_TIME as 'm.CREATED_TIME',
        m.UPDATED_BY as 'm.UPDATED_BY',
        m.UPDATED_TIME as 'm.UPDATED_TIME',
        m.ENT_ID as 'm.ENT_ID',
        doc.PIIS_DOC_ID,
        doc.OBJECT_ID,
        doc.FILE_DICT_ID,
        doc.FILE_NAME,
        doc.FILE_SIZE,
        doc.FILE_PATH
        from inspection_present_meeting m
        left join piis_document doc on concat('PresentMeeting', m.PRESENT_MEETING_ID) = doc.OBJECT_ID
        where m.PRESENT_MEETING_ID = #{presentMeetingId}
    </select>


</mapper>