<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionGroupMemberMapper">

    <!--巡视组组员ResultMap-->
    <resultMap id="inspectionGroupMemberResultMap" type="tech.piis.modules.core.domain.po.InspectionGroupMemberPO">
        <id property="groupMemberId" column="GROUP_MEMBER_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberCompany" column="MEMBER_COMPANY"/>
        <result property="memberCompanyName" column="MEMBER_COMPANY_NAME"/>
        <result property="memberPost" column="MEMBER_POST"/>
        <result property="contact" column="CONTACT"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
        <result property="entId" column="ENT_ID"/>
        <collection property="unitsList" javaType="java.util.List" resultMap="inspectionUnitsResultMap"/>
    </resultMap>

    <!--被巡视单位ResultMap-->
    <resultMap id="inspectionUnitsResultMap" type="tech.piis.modules.core.domain.po.InspectionUnitsPO">
        <id property="unitsId" column="UNITS_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="groupId" column="GROUP_ID"/>
        <result property="inspectionTime" column="INSPECTION_TIME"/>
        <result property="orgId" column="ORG_ID"/>
        <result property="orgName" column="ORG_NAME"/>
    </resultMap>

    <insert id="insertBatch" keyProperty="groupMemberId" useGeneratedKeys="true" parameterType="InspectionGroupMemberPO"  >
        insert into inspection_group_member(PLAN_ID,GROUP_ID,MEMBER_ID,MEMBER_NAME,MEMBER_COMPANY,MEMBER_COMPANY_NAME,MEMBER_POST,CONTACT) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.planId},#{item.groupId},#{item.memberId},#{item.memberName},#{item.memberCompany},#{item.memberCompanyName},#{item.memberPost},#{item.contact})
    </foreach>
    </insert>
</mapper> 