<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.piis.modules.core.mapper.InspectionSpecialReportMapper">

    <resultMap type="InspectionSpecialReportPO" id="InspectionSpecialReportResult">
        <result property="specialReportId" column="SPECIAL_REPORT_ID"/>
        <result property="planId" column="PLAN_ID"/>
        <result property="unitsId" column="UNITS_ID"/>
        <result property="reportType" column="REPORT_TYPE"/>
        <result property="approverId" column="APPROVER_ID"/>
        <result property="approverName" column="APPROVER_NAME"/>
        <result property="approvalFlag" column="APPROVAL_FLAG"/>
        <result property="createdBy" column="o_CREATED_BY"/>
        <result property="createdTime" column="o_CREATED_TIME"/>
        <result property="updatedBy" column="o_UPDATED_BY"/>
        <result property="updatedTime" column="o_UPDATED_TIME"/>
        <result property="entId" column="o_ENT_ID"/>

        <collection property="documents" javaType="java.util.List"
                    resultMap="tech.piis.modules.core.mapper.PiisDocumentMapper.documentResultMap"/>
    </resultMap>

    <resultMap id="unitsBizCountResultMap" type="UnitsBizCountVO">
        <result property="unitsId" column="units_id"/>
        <result property="orgId" column="org_id"/>
        <result property="orgName" column="org_name"/>
        <result property="count" column="count"/>
        <result property="createdTime" column="CREATED_TIME"/>
    </resultMap>

    <sql id="selectInspectionSpecialReportVo">
        select SPECIAL_REPORT_ID, PLAN_ID, REPORT_TYPE,APPROVAL_FLAG, APPROVER_ID,APPROVER_NAME,CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME, ENT_ID from inspection_special_report
    </sql>

    <select id="selectSpecialReportListWithFile" parameterType="InspectionSpecialReportPO"
            resultMap="InspectionSpecialReportResult">
        select SPECIAL_REPORT_ID, PLAN_ID, REPORT_TYPE,
        s.CREATED_BY as 'o_CREATED_BY',
        s.CREATED_TIME as 'o_CREATED_TIME',
        s.UPDATED_BY as 'o_UPDATED_BY',
        s.UPDATED_TIME as 'o_UPDATED_TIME',
        s.ENT_ID as 'o_ENT_ID',
        APPROVER_ID,APPROVER_NAME,APPROVAL_FLAG,
          doc.PIIS_DOC_ID,
          doc.OBJECT_ID,
          doc.FILE_DICT_ID,
          doc.FILE_NAME,
          doc.FILE_SIZE,
          doc.FILE_PATH from inspection_special_report s
      left join piis_document doc on concat('SpecialReport', s.SPECIAL_REPORT_ID) = doc.OBJECT_ID
      where PLAN_ID = #{planId}
      and UNITS_ID = #{unitsId}
      order by s.CREATED_TIME desc
    </select>

    <select id="selectSpecialReportWithFile" parameterType="InspectionSpecialReportPO"
            resultMap="InspectionSpecialReportResult">
      select SPECIAL_REPORT_ID, PLAN_ID, REPORT_TYPE,
        s.CREATED_BY as 'o_CREATED_BY',
        s.CREATED_TIME as 'o_CREATED_TIME',
        s.UPDATED_BY as 'o_UPDATED_BY',
        s.UPDATED_TIME as 'o_UPDATED_TIME',
        s.ENT_ID as 'o_ENT_ID',
      APPROVER_ID,APPROVER_NAME,APPROVAL_FLAG,
          doc.PIIS_DOC_ID
          doc.OBJECT_ID,
          doc.FILE_DICT_ID,
          doc.FILE_NAME,
          doc.FILE_SIZE,
          doc.FILE_PATH from inspection_special_report s
      left join piis_document doc on concat('SpecialReport', s.SPECIAL_REPORT_ID) = doc.OBJECT_ID
      where s.SPECIAL_REPORT_ID = #{specialReportId}
    </select>

    <select id="selectSpecialReportCount" resultMap="unitsBizCountResultMap" parameterType="java.lang.String">
        select u.UNITS_ID,u.ORG_ID,u.ORG_NAME,u.created_time,count(r.UNITS_ID) as count
        from inspection_units u
        left join inspection_special_report r on u.UNITS_ID = r.UNITS_ID
        where u.plan_id = #{planId}
        group by u.UNITS_ID
    </select>

</mapper>