<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tech.piis.modules.person.mapper.LeadingGroupMemberMapper">
    <resultMap id="leadingGroupMemberResultMap" type="tech.piis.modules.person.domain.po.LeadingGroupMemberPO">
        <id property="memberId" column="MEMBER_ID"/>
        <result property="orgId" column="ORG_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberPost" column="MEMBER_POST"/>
        <result property="memberRole" column="MEMBER_ROLE"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedBy" column="UPDATED_BY"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
        <result property="entId" column="ENT_ID"/>
    </resultMap>

    <resultMap id="inspectionInfoResultMap" type="tech.piis.modules.person.domain.vo.InspectionInfoVO">
        <id property="orgId" column="ORG_ID"/>
        <result property="orgName" column="ORG_NAME"/>
        <result property="memberNum" column="memberNum"/>
    </resultMap>
    <!--sql语句-->
    <!--<select id="queryLeadingInspectionInfo" resultMap="inspectionInfoResultMap">
      select f.org_name,m.org_id ,count(m.member_id) as memberNum
      from LEADING_GROUP_MEMBER m join LEADING_GROUP_FOUND f
      on m.org_id = f.org_id group by m.org_id
    </select>-->
    <select id="selectMemberCount" resultMap="leadingGroupMemberResultMap">
      select M.org_id,count(M.member_id) as memberNum,F.ORG_NAME
      from person_LEADING_GROUP_MEMBER M
      LEFT JOIN person_leading_group_found F
      ON M.ORG_ID = F.ORG_ID
      where M.org_id IN
        (
        select org_id
        from person_LEADING_GROUP_FOUND
        where father_org_id = #{orgId}
        )
      group by M.org_id
    </select>
</mapper>